* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* HEADER BLOCK */

.header {
    background-color: #EEE;
    padding: 1rem 1rem 0 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: none;
}

.nav-button {
    display: none;
}

.hero {
    margin-top: 6rem;
    text-align: center;
}

.hero__title {
    color: #222;
    font-size: 2.25rem;
    font-weight: 700;
}

.hero__text {
    color: rgba(34, 34, 34, 0.80);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem
}

.hero-apps {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.hero-button {
    display: flex;
    flex-shrink: 0;
    gap: 0.5rem;
    border: none;
    border-radius: 0.375rem;
    background-color: #222;
    padding: 0.5rem 1rem;
}

.hero-button__text {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem
}

/* MAIN BLOCK */

.wrapper {
    text-align: center;
    margin: 1rem;
}

.main-title {
    color: #222;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    border-radius: 0.1875rem;
    background: #EBEBEB;
    padding: 3rem 0 1rem 0;
}

.card__image {
    margin-bottom: 4rem;
}

.card__title {
    color: #222;
    font-size: 1.375rem;
    font-weight: 700;
}

.card__text {
    color: rgba(0, 0, 0, 0.80);
    font-size: 1rem;
    font-weight: 400;
}

.card-large {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.1875rem;
    background: #343332;
    padding: 5rem;
}

.card-large__title {
    color: #FFF;
    font-size: 2.25rem;
    font-weight: 700;
}

.card-large__text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.125rem;
    font-weight: 400;
}

.button {
    margin-top: 2.5rem;
    width: 9.125rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-color: #343332;
    border-radius: 0.1875rem;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.01275rem;
}

/* FOOTER BLOCK */


.footer-card {
    text-align: center;
    border-radius: 0.1875rem;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.footer-card__title {
    color: #222;
    font-size: 2.25rem;
    font-weight: 700;
}

.footer-card__text {
    color: rgba(34, 34, 34, 0.80);
    font-size: 1.125rem;
    font-weight: 700;
}

.footer-card__body {
    color: rgba(34, 34, 34, 0.60);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3125rem;
}

@media only screen and (min-width: 768px) {
    .nav__list {
        list-style-type: none;
        display: flex;
        flex-shrink: 0;
        gap: 2rem;
        text-align: center;
        color: #999;
        font-size: 0.75rem;
    }

    .nav__link {
        &:hover {
            color: #000;
        }
    }

    .nav-button {
        display: flex;
        padding: 0.75rem 2rem;
        border-radius: 0.1875rem;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        font-size: 0.75rem;
    }

    .nav__hamburger-menu {
        display: none;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .card-large {
        grid-column: auto / span 2;
    }
}